<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC6uKPqylCyn9diaorzq6RKTQ0XlZGitUc</string>
	<key>GCM_SENDER_ID</key>
	<string>1096643835753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sshilyaev.trainlog</string>
	<key>PROJECT_ID</key>
	<string>bodymetric-72f6f</string>
	<key>STORAGE_BUCKET</key>
	<string>bodymetric-72f6f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096643835753:ios:ebe79cd8161e94f78eeff8</string>
</dict>
</plist>